<a href="https://colab.research.google.com/github/pathakchiranjit/Capstone_CDF_April21/blob/Joes/CDF_projects_1004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Collect data from Google drive:

In [ ]:
!pip install -U -q PyDrive

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#XXXXXXX = code you get after your google drive authentication
fileDownloaded = drive.CreateFile({'id':'XXXXXXXXXXX'})

In [ ]:
fileDownloaded.GetContentFile('project_cdf.csv')

In [ ]:
import pandas as pd
project_df = pd.read_csv('project_cdf.csv', delimiter=',',dtype={'device_id':np.str})
project_df.head()

   event_id     device_id            timestamp  ...   latitude      city       state
0   2765368  2.973348e+18  2016-05-07 22:52:05  ...  28.730140     Delhi       Delhi
1   2955066  4.734221e+18  2016-05-01 20:44:16  ...  22.660325  Calcutta  WestBengal
2    605968 -3.264500e+18  2016-05-02 14:23:04  ...  28.757906     Delhi       Delhi
3    448114  5.731369e+18  2016-05-03 13:21:16  ...  13.153332   Chennai   TamilNadu
4    665740  3.388880e+17  2016-05-06 03:51:05  ...  23.842609    Bokaro   Jharkhand

[5 rows x 7 columns]

### Collect data from MySQL Instances:

In [ ]:
!pip install mysql-connector-python-rf

In [ ]:
import mysql.connector
try:
    connection = mysql.connector.connect(host='cpanel.insaid.co',
                                         database='Capstone1',
                                         user='student',
                                         password='student')

    sql_select_Query = "select * from gender_age_train"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    # get all records
    records = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)
except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  74645
MySQL connection is closed

In [ ]:
df = pd.DataFrame(records)
df.tail(10)

                         0  1   2       3
74635  1728576663562073800  M  38  M32-38
74636  8116314513428390753  M  25  M23-26
74637 -3539330294838027409  M  25  M23-26
74638  5645813107043557722  F  51    F43+
74639 -4752726726975186730  M  26  M23-26
74640  4682031842235089751  M  30  M29-31
74641 -9178703742877135986  M  30  M29-31
74642   180946546684162312  M  20    M22-
74643  1390702386071991851  M  37  M32-38
74644    89181010588227347  M  25  M23-26

In [ ]:
df.reset_index()
df.columns=['device_id', 'gender','age','age_group']
df.head(5)

             device_id gender  age age_group
0 -8076087639492063270      M   35    M32-38
1 -2897161552818060146      M   35    M32-38
2 -8260683887967679142      M   35    M32-38
3 -4938849341048082022      M   30    M29-31
4   245133531816851882      M   30    M29-31

In [ ]:
import mysql.connector
try:
    connection = mysql.connector.connect(host='cpanel.insaid.co',
                                         database='Capstone1',
                                         user='student',
                                         password='student')

    sql_select_Query = "select * from phone_brand_device_model"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    # get all records
    records1 = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)
   
except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  87726
MySQL connection is closed

In [ ]:
df1 = pd.DataFrame(records1)
df1.tail(10)

                         0     1        2
87716 -2670392286357824533  vivo     X5SL
87717  8855678093786843415    三星    W2014
87718 -6036435451071138878    小米     MI 4
87719 -1242439729152442827    小米      红米2
87720  1174879451292807079    华为  P8 Lite
87721 -4961458925928574032    华为   荣耀畅玩4X
87722 -8819817317449262375    华为      荣耀6
87723 -3358291377416935026    华为    荣耀畅玩4
87724  3282788959750981633    小米     MI 2
87725  2491639413207286271    酷比       M1

In [ ]:
df1.reset_index()
df1.columns=['device_id', 'brand','model']
df1.head(5)

             device_id brand    model
0  1877775838486905855  vivo      Y13
1 -3766087376657242966    小米     V183
2 -6238937574958215831  OPPO      R7s
3  8973197758510677470    三星    A368t
4 -2015528097870762664    小米  红米Note2

In [ ]:
a = df1.model.unique()

In [ ]:
for i in range(len(a)):
  print("'{}',".format(a[i]))

In [ ]:
model={'model':['Y13',
'V183',
'R7s',
'A368t',
'红米Note2',
'红米Note3',
'S5.1',
'Galaxy Grand Prime',
'MI 2S',
'Galaxy Note 2',
'R1C',
'大神F1Plus',
'note顶配版',
'Galaxy Mega 2',
'星星1号',
'Galaxy S4',
'MI 3',
'Find 7',
'C8816',
'红米note',
'X6 L',
'Galaxy Win',
'青春版',
'MX3',
'Y35',
'G520-5000',
'荣耀4A',
'魅蓝Note 2',
'Y560-CL00',
'荣耀7i',
'3000',
'荣耀畅玩4C',
'C730Lw',
'红米2A',
'A1',
'One',
'Galaxy J7',
'R3',
'MX2',
'荣耀畅玩5',
'荣耀7',
'MI 4',
'One M8',
'红米1S',
'麦芒4',
'Galaxy S6 Edge',
'A3800d',
'P780',
'Ascend G7',
'荣耀6',
'Xperia SL',
'Y17T',
'荣耀畅玩4X',
'Ascend P7',
'Galaxy Grand 2',
'荣耀3X畅玩版',
'荣耀X2',
'Ascend P8',
'R2017',
'魅蓝NOTE',
'Mate 2',
'M8',
'T87+',
'X710L',
'A890e',
'R7',
'X5M',
'MX5',
'Galaxy Mega 5.8',
'L81',
'Xperia Z1',
'荣耀6 Plus',
'X5Max+',
'Galaxy J5',
'Galaxy Note 4',
'A31',
'GN706L',
'G3',
'P8 Lite',
'Sensation XE with Beats Audio Z715e',
'A880',
'荣耀+',
'X5L',
'8720L',
'IVO 6655',
'R7 Plus',
'荣耀畅玩4',
'MX4',
'Y635-TL00',
'Galaxy S3',
'X3L',
'3',
'R807',
'黄金斗士A8',
'One X',
'小米note',
'R6007',
'Galaxy S2 Plus',
'R1',
'荣耀3C',
'小米4C',
'R823T',
'Mate 7',
'MI 2',
'F2',
'Galaxy S5',
'Xperia TX',
'Galaxy Trend DUOS 2',
'Z1',
'Y11IT',
'红米note增强版',
'天鉴W900',
'Ascend G700T',
'Galaxy Note 3',
'Galaxy R',
'F301',
'荣耀畅玩5X',
'N1 Mini',
'Find 5',
'红米2',
'X5Pro',
'X5V',
'A11',
'MI pad',
'Z7 Mini',
'Galaxy Note 5',
'MediaPad M2-801W',
'Galaxy Grand Neo Plus',
'Ascend GX1',
'R817',
'X3T',
'Galaxy E7',
'X817',
'GN700W',
'Y20T',
'A680',
'Y27',
'5891',
'大神F1',
'UIMI3',
'Compaq 7',
'G628',
'IVO 6622',
'B199',
'Galaxy Trend 3',
'X1ST',
'S7568I',
'C8818',
'Y622',
'魅蓝2',
'Mate 7 青春版',
'1107',
'Galaxy S2',
'乐檬K3 Note',
'Galaxy S4 Zoom',
'Galaxy Ace Dear',
'火星一号',
'乐檬K3',
'Ascend P1',
'R831T',
'M9',
'U9508',
'X5Max',
'2',
'X8888',
'联想黄金斗士S8',
'S60t',
'大神F2',
'Xplay3S',
'R1S',
'Y60-C1',
'Nexus 5',
'UIMI4',
'R809T',
'Q507T',
'Moto X Style',
'A788t',
'魅蓝',
'Y13iL',
'荣耀6 plus',
'G610S',
'N1T',
'X1 7.0',
'Y613F',
'Galaxy A7',
'N1',
'Y23L',
'大神F2全高清版',
'灵感XL',
'旗舰版',
'Y927',
'Z9 mini',
'X3S',
'Y15',
'R831S',
'R815T',
'R819T',
'Galaxy Core Prime',
'Butterfly',
'Galaxy Style DUOS',
'Xperia S',
'Galaxy Note 3 Lite',
'P6',
'S7',
'Galaxy S6',
'坚果手机',
'M210',
'S7I',
'A51',
'X907',
'红米',
'Y33',
'超级手机1 Pro',
'Galaxy Grand DUOS',
'Xperia Z5',
'G620-L75',
'畅享5',
'Xplay',
'MX4 Pro',
'Galaxy S6 Edge+',
'8185',
'G3588V',
'Y937',
'T528t',
'Galaxy A8',
'N3',
'G610T',
'S7T',
'V5 Max',
'MI One Plus',
'S90-t',
'Xperia Z3 mini',
'8105',
'7270-W00',
'M8St',
'Desire 820',
'A750',
'S898t',
'魅蓝metal',
'P970',
'Galaxy Mega 6.3',
'5890',
'Z9 Max',
'PRO5',
'X5SL',
'Y29L',
'E602T',
'GN150',
'8190Q',
'E620M',
'超级手机1',
'8702D',
'Galaxy Grand',
'Galaxy Note',
'U960E',
'Grand X',
'Xperia arc S',
'T708',
'X',
'T50',
'GN128',
'超级手机1s',
'L700T',
'Galaxy A5',
'F103S',
'5951',
'H1',
'A820',
'G7200',
'荣耀U8860',
'纽扣',
'LT01',
'Y11',
'Y635',
'荣耀畅玩平板T1',
'Xperia Neo',
'G7 Plus',
'Y13L',
'HT-I860',
'8056',
'EVO 3D X515m',
'红辣椒 X1',
'Galaxy A3',
'春雷HD',
'Galaxy S2 HD LTE E120S',
'L5Pro',
'ivvi 小i',
'荣耀畅玩4C运动版',
'麦芒3',
'Ascend G700',
'小鲜2',
'Nexus 4',
'R827T',
'G520-0000',
'Ascend P6',
'ELIFE E3T',
'大器2',
'5950',
'Q519T',
'Galaxy Tab P6800',
'A398t',
'锋尚',
'Z5S',
'Y511-T00',
'MI One C1',
'8085q',
'A3900',
'M4',
'L1 mini',
'V188S',
'大神X7',
'Grand X Quad',
'A320t',
'G2',
'Galaxy Core Advance',
'Y28L',
'Y22IL',
'小苹果',
'SHV-E210L',
'乐玩',
'F103',
'Y928',
'Galaxy Ace 3',
'R821T',
'大神Note3',
'MI 2A',
'Moto X',
'Y321C',
'Xperia Z2',
'I9118',
'8750',
'K860i',
'G730-C00',
'A708t',
'A670t',
'S658t',
'Galaxy On7',
'Desire 820 Mini',
'Galaxy Ace',
'T1',
'A33',
'603e',
'LT416',
'G11',
'S7568',
'T528w',
'6607',
'么么哒3N',
'8730L',
'M2',
'Y11IW',
'W2015',
'锋尚Pro',
'R830',
'ELIFE S5.5',
'Q505T',
'9190l',
'Galaxy Note Edge',
'Touch 2C',
'红辣椒',
'X3F',
'Y913',
'Galaxy Trend DUOS',
'Optimus G',
'7296',
'R5',
'M512',
'Galaxy On5',
'7105',
'Galaxy S3 Neo+',
'G520-T10',
'VIBE X',
'Mate 8',
'S1',
'MI 1S',
'5263',
'S2y',
'A369',
'Grand Memo 2',
'G750-T20',
'Y923',
'M032',
'R8205',
'A688t',
'荣耀3X',
'三星big foot',
'Touch 2',
'Galaxy Premier',
'Y37',
'U956',
'S810t',
'HN3-U01',
'S650',
'L128',
'IPH8',
'荣耀3C畅玩版',
'1100',
'S5830I',
'X6 Plus D',
'G606',
'B9388',
'Desire 826',
'A5800-D',
'Galaxy Core Lite',
'MI pad 2',
'A360t',
'SM-T705C',
'G4',
'ono',
'Find',
'Galaxy Core Max',
'ivvi 小骨Pro',
'A53',
'G718C',
'红辣椒XM',
'V5S',
'3007',
'D800',
'X6 Plus',
'S12',
'I779',
'Y1',
'远航3',
'My 布拉格',
'Y18L',
'Blade S6 Lux',
'H1S',
'GN715',
'metal 标准版',
'U879',
'Desire 7088',
'U930HD',
'Galaxy Note 10.1',
'G3818',
'畅享5S',
'U701',
'X6 D',
'MediaPad M2-803L',
'Blade A1',
'Galaxy Nexus',
'Desire 610t',
'Y19T',
'红辣椒Note',
'锋尚Max',
'Galaxy S L',
'2016版 Galaxy A9',
'Galaxy S3 Mini',
'GN152',
'Desire 816',
'VIBE X2',
'A516',
'S7898',
'红牛V5',
'Moto X Pro',
'Y13T',
'2016版 Galaxy A5',
'S11T',
'VIBE Z2',
'A7',
'7270',
'S6',
'Xperia C',
'7295',
'锋尚2',
'V4',
'M5',
'H5',
'R833T',
'Grand S 2',
'G510',
'C8817E',
'5263S',
'Y22L',
'S820',
'Y51',
'金钢',
'T329t',
'7298D',
'野火S',
'Galaxy J3',
'iPh-800',
'C8815',
'P335M',
'S5.5L',
'1105',
'8729',
'T328w',
'Xperia Z',
'W2014',
'Galaxy Mega Plus',
'G660-L075',
'5200S',
'Y613',
'Mate S',
'A298t',
'Galaxy Tab 3 8.0',
'T20L',
'U880F1',
'2016版 Galaxy A7',
'X8T',
'Two',
'N1 max',
'红米3',
'R820',
'小辣椒 X3',
'L920',
'One S',
'Ulike2',
'A376',
'8029',
'U707T',
'Galaxy Win Pro',
'Z5S Mini',
'ZenFone Max',
'E601M',
'GN708T',
'Xperia C3',
'I8268',
'Galaxy Tab 3 10.1',
'ZenFone 2',
'荣耀平板T1-823L',
'Y600D',
'S2L',
'Galaxy Tab 2 P3100',
'8122',
'Y518-T00',
'V819 3G',
'D2-M',
'A580',
'U3',
'S720',
'Xperia acro S',
'X3V',
'GN151',
'X6',
'5891Q',
'5956',
'P316L',
':UOOGOUT1',
'Y516',
'C8816D',
'7269',
'Galaxy S7 Edge',
'U11',
'SOP M3',
'A828t',
'Y3T',
'大神Note',
'7295C',
'A850',
'U705T',
'A390',
'Galaxy Tab P3108',
'A789',
'E1T',
'A2800d',
'7295A青春版',
'MI 2C',
'M031',
'C8813',
'A199',
'795+',
'E6',
'802w',
'Xperia T',
'D500',
'5219',
'R813T',
'D350',
'8190',
'7231',
'A678t',
'Galaxy Note 8.0',
'A380t',
'A820t',
'7372',
'X1',
'E1',
'X1S',
'8195',
'MT1-U06',
'Y600-U00',
'S890',
'HS-U978',
'H7',
'Y320',
'Xperia P',
'Galaxy Ace 2',
'S920',
'Q705U',
'U817',
'T2',
'S9',
'V719',
'A356',
'EG939',
'A388t',
'R811',
'V1',
'L22',
'8720',
'S850t',
'S3+',
'V182',
'M100',
'P770',
'iSuper S2',
'A798t',
'T9',
'C8813Q',
'EG978',
'Galaxy S Advance',
'7620l',
'8702',
'MI 4S',
'8705',
'T29',
'Y17W',
'K68w',
'Xshot',
'Ascend G6',
'G730-T00',
'GN700T',
'大Q Note',
'P880',
'X50TS',
'M811',
'X68T',
'A390t',
'X6666',
'Y618-T00',
'ZenFone 5',
'IdeaTab A5000-E',
'Galaxy Ace Plus',
'M1',
'Galaxy Tab S T705C',
'Galaxy Tab 4 T231',
'G730-U00',
'U809',
'MI 5',
'V8',
'VIBE Z',
'XL',
'MOMO9',
'M310',
'Galaxy Core Mini',
'GN5001S',
'么么哒',
'Y330',
'小辣椒 M2',
'IVO 6600',
'黄金斗士Note8',
'Galaxy Trend 2',
'Mate',
'7295+',
'7320',
'U930',
'Y300',
'U7',
'A660',
'T3',
'P308L',
'U969',
'Xperia Z Ultra',
'T91',
'炫影S+',
'Galaxy Tab 7.0 Plus',
'M701',
'A658t',
'Moto G',
'P331M',
'P700i',
'N798+',
'7235',
'Galaxy S4 Active',
'E7',
'Xperia Z3',
'S720i',
'TAB 2 A7-30',
'P1',
'8085n',
'S5300',
'V987',
'Grand Memo',
'K1',
'L7',
'P520L',
'P700',
'Galaxy S4 Mini',
'风华3',
'Xperia SP',
'V70',
'MT2-C00',
'Xperia ion',
'7268',
'5892',
'G521',
'M6-M7',
'TALK 7X四核',
'i9',
'V889D',
'iSuper S1',
'7236',
'T9108',
'MM1101',
'L810',
'Xperia T2 Ultra',
'U960S3',
'Touch 3',
'7230',
'Galaxy Gio',
'U9815',
'8012',
'A630t',
'V818',
'Galaxy J1',
'Galaxy Fame',
'A800',
'T958',
'A820e',
'A278t',
'N1W',
'Y500',
'U960S',
'9976A',
'GN100',
'X805',
'8295M',
'C8817L',
'A505e',
'8198T',
'GN137',
'U51GT-W',
'K900',
'ME371MG',
'A520',
'J738M',
'A766',
'5860A',
'R9',
'S696',
'9180',
'S868t',
'TALK 9X',
'Optimus LTE',
'G615-U10',
'A830',
'Galaxy Core 4G',
'Y511-U00',
'V185',
'2016版 Galaxy J7',
'Y80D',
'天鉴T1',
'G716',
'Galaxy W',
'R830S',
'Y22',
'A850+',
'U795+',
'R8000',
'E5',
'GN9002',
'E6T',
'Galaxy J',
'5217',
'Z9',
'土星一号',
'W999',
'XT615',
'Y627',
'Vibe Z2 Pro',
'麦芒3S',
'8079',
'Q802T',
'W2013',
'BF T18',
'N910C',
'E912S',
'8295',
'L9',
'A770e',
'Q501U',
'SCH-I939',
'G6-U00',
'L1',
'E3',
'A698t',
'A765e',
'Xperia Z3+ Dual',
'A3000-H',
'Y623',
'G717C',
'飞马',
'T329d',
'T8620',
'S9T',
'3S',
'ivvi K1 mini',
'S5831I',
'联想VIBE X2',
'7296S',
'U966',
'A785e',
'T328t',
'T7',
'威武3',
'P8max',
'E70-T',
'E8',
'R9 Plus',
'P306C',
'One E8',
'Q503U',
'Galaxy S2 Epic 4G Touch',
'P9',
'201',
'Droid Ultra',
'T80',
'M812C',
'V955',
'3005',
'红辣椒任性版 Plus',
'L5 Plus',
'Galaxy Alpha',
'S938t',
'XT1060',
'U950',
'A2580',
'S899t',
'VS980',
'U980',
'C8650',
'S850',
'U2',
'Vibe Shot',
'Desire 626',
'X2',
'Z7 Max',
'Galaxy Mini',
'A750e',
'T619+',
'S7566',
'小辣椒 9',
'Galaxy Core 2',
'R805',
'GN305',
'C8812',
'A760',
'大观4',
'A399',
'超级手机Max',
'Galaxy K Zoom',
'R5s plus',
'P332U',
'N910U',
'星星2号',
'Blade S6',
'V956',
'雷霆战机',
'EG970',
'S5.1Pro',
'MI 1',
'X80HD',
'A858t',
'V526',
'Y628',
'G610C',
'R801',
'Y3100',
'Touch 3c',
'威武3C',
'F303',
'One max',
'5360',
'A560',
'8021',
'Galaxy Golden',
'I9050',
'7i',
'倾城L3',
'M20-T',
'E613M',
'G730-L075',
'Galaxy S Plus',
'8085',
'Z9 mini 精英版',
'小辣椒S1',
'8721',
'S686',
'S858t',
'P705',
'L8',
'小辣椒 5',
'G3609',
'E75T',
'Optimus G Pro',
'Galaxy Tab 3 Lite T111',
'R817T',
'T03锋至版',
'N909',
'乐玩2C',
'GN708W',
'C630Lw',
'VT898',
'One M9+',
'Nexus S',
'A7-30',
'S930',
'P70',
'C230w',
'Desire 616',
'7260',
'AxonMini',
'8712S',
'GT7',
'Galaxy Tab 4 T331C',
'One E9',
'么么哒3S',
'N1-Y',
'Y31',
'V5',
'乐檬K31',
'黄金斗士S8畅玩版',
'SM-T325',
'Galaxy Trend',
'IdeaTab A2207A-H',
'A318t',
'U807',
'XT910',
'A706',
'A330e',
'D520',
'K860',
'A8-50',
'SM-T2558',
'8295c',
'ELIFE E6 mini',
'A630',
'Grand Era',
'TL1000',
'Z5',
'S5000',
'C8813DQ',
'T9508',
'R2010',
'Q201T',
'N821',
'idol X',
'DROID RAZR',
'G6-C00',
'ELIFE E7 Mini',
'A5',
'Ascend D2',
'V967S',
'X5',
'GN168t',
'YOGA Tablet B6000',
'G3819D',
'Galaxy Tab 2 P5110',
'V6',
'Y320T',
'A288t',
'Touch V',
'时尚手机',
'A628t',
'OKU3',
'I8258',
'Galaxy Tab 3 7.0',
'Defy+',
'P301M',
'5872',
'V9',
'8732',
'8070',
'Galaxy Y',
'7060',
'S2',
'GT-I8160',
'T967',
'A3300-T',
'T5',
'Tab2 A7-10F',
'A308t',
'Galaxy Tab Pro T321',
'V975s Core4',
'Desire S',
'L168',
'R850',
'GN705T',
'7251',
'M601',
'U5482',
'S90-u',
'Xperia U',
'U880',
'D330',
'C986t',
'EV5',
'T528d',
'G630',
'A656',
'S660',
'T60',
'Y325',
'Q7',
'I95',
'8089',
'Galaxy S',
'5832',
'G525',
'Desire 310',
'EG966',
'V10',
'大神1s',
'GN135',
'S3',
'M10-M',
'A378t',
'A889',
's820e',
'5860S',
'8076D',
'8017',
'Butterfly s',
'M6',
'Xperia ZR ',
'608t',
'GN810',
'N986',
'Blade C',
'7019',
'N828',
'S880i',
'M030',
'G616-L076',
'A208t',
'GN139',
'VT898S',
'U939',
'Q301C',
'Galaxy Ace DUOS',
'A269i',
'GN878',
'One M8 Eye',
'A238t',
'VT868',
'A398t+',
'Q701C',
'TS1018',
'N818',
'T20',
'8707',
'S8-701u',
'Desire 5088',
'8017-T00',
'M8x',
'T327w',
'GN105',
'E600M',
'Xperia ZL',
'606w',
'MK260',
'memo 5S',
'Desire 609d',
'A3',
'Desire D516d',
'T8830Pro',
'HT-I717',
'A6800',
'I630T',
'T35',
'8713',
'Galaxy Tab S T800',
'E621T',
'Galaxy Grand Max',
'倾城L3C',
't789',
'U701T',
'Nexus 7',
'5218S',
'L70',
'M3',
'Q302C',
'U8825D',
'V919',
'One ME',
'Galaxy Infinite',
'Y220T',
'IVO 6688',
'Y610-U00',
'5216D',
'小辣椒 4',
'T820',
'X920e',
'L820',
'S939',
'Xperia Z1 炫彩版',
'T9003',
'微客',
'T21',
'V95',
'A860e',
'V188',
'S8-701w',
'S5Q',
'One M9',
'voga v1',
'MM1103',
'M535',
'5261',
'i1',
'idol3',
'G5',
'S5',
'T12',
'A2860',
'黄金斗士青春版',
'P8',
'802d',
'红辣椒NX Plus',
'A51kc',
'T004',
'BF A500',
'T1-821w',
'Sensation Z710E',
'小鲜3',
'小星星',
'M5 Plus',
'Galaxy Note 10.1 2014 Edition P601',
'Galaxy S DUOS',
'A355e',
'A30',
'TL500',
'Z5 Mini',
'BM001',
'A690',
'A68e',
'W619',
'GN106',
'GT-N8000',
'EG971',
'N880F',
'J320T',
'EG936D',
'Desire D516t',
'T929',
'I8250',
'A338t',
'T327t',
'N881F',
'GN180',
'5316',
'5930',
'S880',
'MC002',
'U819',
'JX8166',
'A300t',
'8717',
'9976D',
'Desire D316d',
'A805e',
'KDOOR X5-Y12',
'大器3',
'S960',
'X7',
'Desire HD',
'E602M',
'H2',
'78P01',
'A588t',
'T619',
'8150',
'LT02',
'M1L',
'U8',
'8712',
'2C',
'M201S',
'T90',
'M20-M',
'SM-T2556',
'M3S',
'S6-NT1',
'A3600d',
'X98 3G',
'小辣椒 6',
'A606',
'Q801L',
'P318L',
'S860e',
'T9600',
'T890',
'Galaxy Tab P7500',
'金刚II',
'F105',
'L108',
'A768t',
'D557',
'W800',
'VIBE P1',
'L100',
'R2',
'中兴远航3',
'C03',
'Axon天机',
'OKA51',
'A385e',
'Galaxy Tab 2 P5100',
'N880E',
'MediaPad 10 Link',
'XT1033',
'EG980',
'210R',
'U86',
'Doeasy E700',
'Q501T',
'Y310-T10',
'Y310-5000',
'S6T',
's800',
'GN108',
'K88L',
'U1',
'Z4',
'8076',
'5311',
'L930i',
'Xperia M2',
'P2',
'L820c',
'VT888',
'U81t',
'Xperia ZR',
'I630M',
'C8813D',
'青漾3',
'Xperia ray',
'GN9004',
'Galaxy Grand 2 LTE',
'5876',
'C8812+',
'D516w',
'D360',
'小辣椒 3',
'G629',
'P500M',
'GN800',
'N2',
'DM',
'I639T',
'PHAB Plus',
'Galaxy Tab 3 Lite T110',
'U968',
'Sonic+',
'P302C',
'Nexus 6P',
'7605',
'Y70-C',
'U808',
'T703',
'K23',
'旋影90w',
'V931',
'小辣椒 7',
'W700',
'H3',
'Tab2A7-20F',
'8736',
'Mos1',
'S8-50',
'5216s',
'W88',
'Ascend G330C',
'BM002',
'醉享',
'MAX3',
'L5 mini',
'渴望HD',
'A358t',
'N919D',
'5879',
'E913',
'V981',
'小辣椒 M3',
'Galaxy Tab S T805C',
'Desire V',
'I635T',
'E99',
'X6088',
'Optimus G Pro 2',
'A500',
'5310',
'7275',
'P501M',
'P518L',
'E260-T',
'U818',
'P502U',
'I900',
'U880S',
'飞马3',
'7061',
'BM002-G5',
'P360W',
'P21',
'E968',
'HT-I857',
'Y523-L176',
'领世旗舰3',
'K80',
'Galaxy Ace 4',
'L82',
'Moto X 3',
'小辣椒X4',
'V880',
'i600',
'U889',
'F320L',
'K012',
'U55GT',
'Xperia Z5 Premium',
'A375e',
'302U',
'T00G',
'L823',
'C666t',
'EG929',
'MediaPad M1',
'W6618',
'A590',
'a218t',
'E956Q',
'S300',
'A3500',
'E50-T',
'GN705',
'BM003',
'A780',
'D1',
'Q3C',
'A360e',
'P305',
'F1',
'LT988',
'5313S',
'红辣椒Note3',
'Galaxy S7',
'Xplay5',
'Desire 816x',
'S668t',
'T9608',
'IdeaTab A1010-T',
'W700+',
'5200',
'F240S',
'M15',
'T928',
'Q805T',
'U970',
'A396',
'S90-e',
'天鉴W808',
'J636D+',
'V923',
'T13',
'P51',
'X10i',
'E820',
'GN5002',
'G9',
'P9 Plus',
'A328t',
'8715',
'U880E',
'天鉴W900S',
'One A9',
'8722',
'V889M',
'T780+',
'N919',
'Galaxy Core',
'U793',
'L855',
'T9500',
'P3',
'大观铂顿',
'S560',
'Xperia J',
'A3890',
'G610M',
'魅蓝Note3',
'Hol-U10',
'Q509T',
'XT928',
'X18',
'A630e',
'MM1104',
'I7',
'A380e',
'A65',
'U25GT',
'Razr V锋芒',
'T6',
'IVO 6666',
'Z7',
'S8-303L',
'9300-M9',
'V983',
'G730-U30',
'V701s Core4',
'A366t',
'V965T',
'ME7510KG',
'W2016',
'One X9',
'T328d',
'YOGA Tablet B8000',
'A100',
'C986t+',
'ZenFone Selfie',
'火星一号探索版',
'P596',
'S838M',
'IdeaTab A1000-T',
'G309T',
'A780e',
'DROID RAZR M',
'VIBE X2 Pro',
'Moto X极',
'A395e',
'Gigaset ME',
'Ascend D1',
'Galaxy Tab P1000',
'Find 3',
'U960',
'G620-L72',
'T918',
'U936',
'I699I',
'E622M',
'X80h',
'B8080-F',
'魔镜 X5',
'Moto Turbo',
'A1020',
'T860',
'S870e',
'小章鱼',
'Z1988',
'X98 Air 3G',
'King 7',
'King 7s',
'T621',
'Y320C',
'M228-M51',
'I6',
'Galaxy S DUOS 2',
'乐檬3',
'T89-2',
'm310',
'H6',
'乐檬X3',
'飞马2 Plus',
'Galaxy Tab S T705',
'IVO 8800',
'U59GT'], 
    'model_eng':['Y13',
'V183',
'R7s',
'A368t',
'Redmi Note2',
'Redmi Note3',
'S5.1',
'Galaxy Grand Prime',
'MI 2S',
'Galaxy Note 2',
'R1C',
'Great God F1Plus',
'note top version',
'Galaxy Mega 2',
'Star 1',
'Galaxy S4',
'MI 3',
'Find 7',
'C8816',
'Red rice note',
'X6 L',
'Galaxy Win',
'Youth Edition',
'MX3',
'Y35',
'G520-5000',
'Glory 4A',
'Charm Blue Note 2',
'Y560-CL00',
'Glory 7i',
'3000',
'Honor Play 4C',
'C730Lw',
'Redmi 2A',
'A1',
'One',
'Galaxy J7',
'R3',
'MX2',
'Honor Play 5',
'Glory 7',
'MI 4',
'One M8',
'Redmi 1S',
'Maimang 4',
'Galaxy S6 Edge',
'A3800d',
'P780',
'Ascend G7',
'Glory 6',
'Xperia SL',
'Y17T',
'Honor Play 4X',
'Ascend P7',
'Galaxy Grand 2',
'Honor 3X Play Edition',
'Glory X2',
'Ascend P8',
'R2017',
'Charm Blue NOTE',
'Mate 2',
'M8',
'T87+',
'X710L',
'A890e',
'R7',
'X5M',
'MX5',
'Galaxy Mega 5.8',
'L81',
'Xperia Z1',
'Honor 6 Plus',
'X5Max+',
'Galaxy J5',
'Galaxy Note 4',
'A31',
'GN706L',
'G3',
'P8 Lite',
'Sensation XE with Beats Audio Z715e',
'A880',
'Glory+',
'X5L',
'8720L',
'IVO 6655',
'R7 Plus',
'Honor Play 4',
'MX4',
'Y635-TL00',
'Galaxy S3',
'X3L',
'3',
'R807',
'Golden Fighter A8',
'One X',
'Xiaomi note',
'R6007',
'Galaxy S2 Plus',
'R1',
'Honor 3C',
'Millet 4C',
'R823T',
'Mate 7',
'MI 2',
'F2',
'Galaxy S5',
'Xperia TX',
'Galaxy Trend DUOS 2',
'Z1',
'Y11IT',
'Redmi note enhanced version',
'Tianjian W900',
'Ascend G700T',
'Galaxy Note 3',
'Galaxy R',
'F301',
'Honor Play 5X',
'N1 Mini',
'Find 5',
'Redmi 2',
'X5Pro',
'X5V',
'A11',
'MI pad',
'Z7 Mini',
'Galaxy Note 5',
'MediaPad M2-801W',
'Galaxy Grand Neo Plus',
'Ascend GX1',
'R817',
'X3T',
'Galaxy E7',
'X817',
'GN700W',
'Y20T',
'A680',
'Y27',
'5891',
'Great God F1',
'UIMI3',
'Compaq 7',
'G628',
'IVO 6622',
'B199',
'Galaxy Trend 3',
'X1ST',
'S7568I',
'C8818',
'Y622',
'Charm Blue 2',
'Mate 7 Youth Edition',
'1107',
'Galaxy S2',
'Lemon K3 Note',
'Galaxy S4 Zoom',
'Galaxy Ace Dear',
'Mars One',
'Lemon K3',
'Ascend P1',
'R831T',
'M9',
'U9508',
'X5Max',
'2',
'X8888',
'Lenovo Gold Fighter S8',
'S60t',
'Great God F2',
'Xplay3S',
'R1S',
'Y60-C1',
'Nexus 5',
'UIMI4',
'R809T',
'Q507T',
'Moto X Style',
'A788t',
'Charm Blue',
'Y13iL',
'Glory 6 plus',
'G610S',
'N1T',
'X1 7.0',
'Y613F',
'Galaxy A7',
'N1',
'Y23L',
'Great God F2 Full HD Version',
'Inspiration XL',
'Ultimate Edition',
'Y927',
'Z9 mini',
'X3S',
'Y15',
'R831S',
'R815T',
'R819T',
'Galaxy Core Prime',
'Butterfly',
'Galaxy Style DUOS',
'Xperia S',
'Galaxy Note 3 Lite',
'P6',
'S7',
'Galaxy S6',
'Nut Phone',
'M210',
'S7I',
'A51',
'X907',
'Red rice',
'Y33',
'Super Phone 1 Pro',
'Galaxy Grand DUOS',
'Xperia Z5',
'G620-L75',
'Enjoy 5',
'Xplay',
'MX4 Pro',
'Galaxy S6 Edge+',
'8185',
'G3588V',
'Y937',
'T528t',
'Galaxy A8',
'N3',
'G610T',
'S7T',
'V5 Max',
'MI One Plus',
'S90-t',
'Xperia Z3 mini',
'8105',
'7270-W00',
'M8St',
'Desire 820',
'A750',
'S898t',
'Charm blue metal',
'P970',
'Galaxy Mega 6.3',
'5890',
'Z9 Max',
'PRO5',
'X5SL',
'Y29L',
'E602T',
'GN150',
'8190Q',
'E620M',
'Super Phone 1',
'8702D',
'Galaxy Grand',
'Galaxy Note',
'U960E',
'Grand X',
'Xperia arc S',
'T708',
'X',
'T50',
'GN128',
'Super phone 1s',
'L700T',
'Galaxy A5',
'F103S',
'5951',
'H1',
'A820',
'G7200',
'Glory U8860',
'Button',
'LT01',
'Y11',
'Y635',
'Honor Play Tablet T1',
'Xperia Neo',
'G7 Plus',
'Y13L',
'HT-I860',
'8056',
'EVO 3D X515m',
'Red Pepper X1',
'Galaxy A3',
'Spring Thunder HD',
'Galaxy S2 HD LTE E120S',
'L5Pro',
'ivvi little i',
'Honor Play 4C Sports Edition',
'Maimang 3',
'Ascend G700',
'Xiao Xian 2',
'Nexus 4',
'R827T',
'G520-0000',
'Ascend P6',
'ELIFE E3T',
'Daqi 2',
'5950',
'Q519T',
'Galaxy Tab P6800',
'A398t',
'Feng Shang',
'Z5S',
'Y511-T00',
'MI One C1',
'8085q',
'A3900',
'M4',
'L1 mini',
'V188S',
'Great God X7',
'Grand X Quad',
'A320t',
'G2',
'Galaxy Core Advance',
'Y28L',
'Y22IL',
'Little Apple',
'SHV-E210L',
'Happy to play',
'F103',
'Y928',
'Galaxy Ace 3',
'R821T',
'Great God Note3',
'MI 2A',
'Moto X',
'Y321C',
'Xperia Z2',
'I9118',
'8750',
'K860i',
'G730-C00',
'A708t',
'A670t',
'S658t',
'Galaxy On7',
'Desire 820 Mini',
'Galaxy Ace',
'T1',
'A33',
'603e',
'LT416',
'G11',
'S7568',
'T528w',
'6607',
'Mameda 3N',
'8730L',
'M2',
'Y11IW',
'W2015',
'Fengshang Pro',
'R830',
'ELIFE S5.5',
'Q505T',
'9190l',
'Galaxy Note Edge',
'Touch 2C',
'Red chili',
'X3F',
'Y913',
'Galaxy Trend DUOS',
'Optimus G',
'7296',
'R5',
'M512',
'Galaxy On5',
'7105',
'Galaxy S3 Neo+',
'G520-T10',
'VIBE X',
'Mate 8',
'S1',
'MI 1S',
'5263',
'S2y',
'A369',
'Grand Memo 2',
'G750-T20',
'Y923',
'M032',
'R8205',
'A688t',
'Honor 3X',
'Samsung big foot',
'Touch 2',
'Galaxy Premier',
'Y37',
'U956',
'S810t',
'HN3-U01',
'S650',
'L128',
'IPH8',
'Honor 3C Play Edition',
'1100',
'S5830I',
'X6 Plus D',
'G606',
'B9388',
'Desire 826',
'A5800-D',
'Galaxy Core Lite',
'MI pad 2',
'A360t',
'SM-T705C',
'G4',
'ono',
'Find',
'Galaxy Core Max',
'ivvi Small Bone Pro',
'A53',
'G718C',
'Red Pepper XM',
'V5S',
'3007',
'D800',
'X6 Plus',
'S12',
'I779',
'Y1',
'Voyage 3',
'My Prague',
'Y18L',
'Blade S6 Lux',
'H1S',
'GN715',
'Metal Standard Edition',
'U879',
'Desire 7088',
'U930HD',
'Galaxy Note 10.1',
'G3818',
'Enjoy 5S',
'U701',
'X6 D',
'MediaPad M2-803L',
'Blade A1',
'Galaxy Nexus',
'Desire 610t',
'Y19T',
'Red Pepper Note',
'Feng Shang Max',
'Galaxy S L',
'2016 Galaxy A9',
'Galaxy S3 Mini',
'GN152',
'Desire 816',
'VIBE X2',
'A516',
'S7898',
'Red Bull V5',
'Moto X Pro',
'Y13T',
'2016 Galaxy A5',
'S11T',
'VIBE Z2',
'A7',
'7270',
'S6',
'Xperia C',
'7295',
'Feng Shang 2',
'V4',
'M5',
'H5',
'R833T',
'Grand S 2',
'G510',
'C8817E',
'5263S',
'Y22L',
'S820',
'Y51',
'Golden Steel',
'T329t',
'7298D',
'Wildfire S',
'Galaxy J3',
'iPh-800',
'C8815',
'P335M',
'S5.5L',
'1105',
'8729',
'T328w',
'Xperia Z',
'W2014',
'Galaxy Mega Plus',
'G660-L075',
'5200S',
'Y613',
'Mate S',
'A298t',
'Galaxy Tab 3 8.0',
'T20L',
'U880F1',
'2016 Galaxy A7',
'X8T',
'Two',
'N1 max',
'Redmi 3',
'R820',
'Little Pepper X3',
'L920',
'One S',
'Ulike2',
'A376',
'8029',
'U707T',
'Galaxy Win Pro',
'Z5S Mini',
'ZenFone Max',
'E601M',
'GN708T',
'Xperia C3',
'I8268',
'Galaxy Tab 3 10.1',
'ZenFone 2',
'Honor Tablet T1-823L',
'Y600D',
'S2L',
'Galaxy Tab 2 P3100',
'8122',
'Y518-T00',
'V819 3G',
'D2-M',
'A580',
'U3',
'S720',
'Xperia acro S',
'X3V',
'GN151',
'X6',
'5891Q',
'5956',
'P316L',
':UOOGOUT1',
'Y516',
'C8816D',
'7269',
'Galaxy S7 Edge',
'U11',
'SOP M3',
'A828t',
'Y3T',
'Great God Note',
'7295C',
'A850',
'U705T',
'A390',
'Galaxy Tab P3108',
'A789',
'E1T',
'A2800d',
'7295A Youth Edition',
'MI 2C',
'M031',
'C8813',
'A199',
'795+',
'E6',
'802w',
'Xperia T',
'D500',
'5219',
'R813T',
'D350',
'8190',
'7231',
'A678t',
'Galaxy Note 8.0',
'A380t',
'A820t',
'7372',
'X1',
'E1',
'X1S',
'8195',
'MT1-U06',
'Y600-U00',
'S890',
'HS-U978',
'H7',
'Y320',
'Xperia P',
'Galaxy Ace 2',
'S920',
'Q705U',
'U817',
'T2',
'S9',
'V719',
'A356',
'EG939',
'A388t',
'R811',
'V1',
'L22',
'8720',
'S850t',
'S3+',
'V182',
'M100',
'P770',
'iSuper S2',
'A798t',
'T9',
'C8813Q',
'EG978',
'Galaxy S Advance',
'7620l',
'8702',
'MI 4S',
'8705',
'T29',
'Y17W',
'K68w',
'Xshot',
'Ascend G6',
'G730-T00',
'GN700T',
'Big Q Note',
'P880',
'X50TS',
'M811',
'X68T',
'A390t',
'X6666',
'Y618-T00',
'ZenFone 5',
'IdeaTab A5000-E',
'Galaxy Ace Plus',
'M1',
'Galaxy Tab S T705C',
'Galaxy Tab 4 T231',
'G730-U00',
'U809',
'MI 5',
'V8',
'VIBE Z',
'XL',
'MOMO9',
'M310',
'Galaxy Core Mini',
'GN5001S',
'muah',
'Y330',
'Little Pepper M2',
'IVO 6600',
'Golden Fighter Note8',
'Galaxy Trend 2',
'Mate',
'7295+',
'7320',
'U930',
'Y300',
'U7',
'A660',
'T3',
'P308L',
'U969',
'Xperia Z Ultra',
'T91',
'Hyun Shadow S+',
'Galaxy Tab 7.0 Plus',
'M701',
'A658t',
'Moto G',
'P331M',
'P700i',
'N798+',
'7235',
'Galaxy S4 Active',
'E7',
'Xperia Z3',
'S720i',
'TAB 2 A7-30',
'P1',
'8085n',
'S5300',
'V987',
'Grand Memo',
'K1',
'L7',
'P520L',
'P700',
'Galaxy S4 Mini',
'Fenghua 3',
'Xperia SP',
'V70',
'MT2-C00',
'Xperia ion',
'7268',
'5892',
'G521',
'M6-M7',
'TALK 7X Quad Core',
'i9',
'V889D',
'iSuper S1',
'7236',
'T9108',
'MM1101',
'L810',
'Xperia T2 Ultra',
'U960S3',
'Touch 3',
'7230',
'Galaxy Gio',
'U9815',
'8012',
'A630t',
'V818',
'Galaxy J1',
'Galaxy Fame',
'A800',
'T958',
'A820e',
'A278t',
'N1W',
'Y500',
'U960S',
'9976A',
'GN100',
'X805',
'8295M',
'C8817L',
'A505e',
'8198T',
'GN137',
'U51GT-W',
'K900',
'ME371MG',
'A520',
'J738M',
'A766',
'5860A',
'R9',
'S696',
'9180',
'S868t',
'TALK 9X',
'Optimus LTE',
'G615-U10',
'A830',
'Galaxy Core 4G',
'Y511-U00',
'V185',
'2016 Galaxy J7',
'Y80D',
'Tianjian T1',
'G716',
'Galaxy W',
'R830S',
'Y22',
'A850+',
'U795+',
'R8000',
'E5',
'GN9002',
'E6T',
'Galaxy J',
'5217',
'Z9',
'Saturn One',
'W999',
'XT615',
'Y627',
'Vibe Z2 Pro',
'Maimang 3S',
'8079',
'Q802T',
'W2013',
'BF T18',
'N910C',
'E912S',
'8295',
'L9',
'A770e',
'Q501U',
'SCH-I939',
'G6-U00',
'L1',
'E3',
'A698t',
'A765e',
'Xperia Z3+ Dual',
'A3000-H',
'Y623',
'G717C',
'Pegasus',
'T329d',
'T8620',
'S9T',
'3S',
'ivvi K1 mini',
'S5831I',
'Lenovo VIBE X2',
'7296S',
'U966',
'A785e',
'T328t',
'T7',
'Mighty 3',
'P8max',
'E70-T',
'E8',
'R9 Plus',
'P306C',
'One E8',
'Q503U',
'Galaxy S2 Epic 4G Touch',
'P9',
'201',
'Droid Ultra',
'T80',
'M812C',
'V955',
'3005',
'Red Pepper Willful Edition Plus',
'L5 Plus',
'Galaxy Alpha',
'S938t',
'XT1060',
'U950',
'A2580',
'S899t',
'VS980',
'U980',
'C8650',
'S850',
'U2',
'Vibe Shot',
'Desire 626',
'X2',
'Z7 Max',
'Galaxy Mini',
'A750e',
'T619+',
'S7566',
'Little Pepper 9',
'Galaxy Core 2',
'R805',
'GN305',
'C8812',
'A760',
'Grand View 4',
'A399',
'Super Phone Max',
'Galaxy K Zoom',
'R5s plus',
'P332U',
'N910U',
'Star 2',
'Blade S6',
'V956',
'Thunder Fighter',
'EG970',
'S5.1Pro',
'MI 1',
'X80HD',
'A858t',
'V526',
'Y628',
'G610C',
'R801',
'Y3100',
'Touch 3c',
'Mighty 3C',
'F303',
'One max',
'5360',
'A560',
'8021',
'Galaxy Golden',
'I9050',
'7i',
'Allure L3',
'M20-T',
'E613M',
'G730-L075',
'Galaxy S Plus',
'8085',
'Z9 mini Elite Edition',
'Little Pepper S1',
'8721',
'S686',
'S858t',
'P705',
'L8',
'Little Pepper 5',
'G3609',
'E75T',
'Optimus G Pro',
'Galaxy Tab 3 Lite T111',
'R817T',
'T03 Feng Zhi Edition',
'N909',
'Lewan 2C',
'GN708W',
'C630Lw',
'VT898',
'One M9+',
'Nexus S',
'A7-30',
'S930',
'P70',
'C230w',
'Desire 616',
'7260',
'AxonMini',
'8712S',
'GT7',
'Galaxy Tab 4 T331C',
'One E9',
'Mameda 3S',
'N1-Y',
'Y31',
'V5',
'Lemon K31',
'Golden Fighter S8 Play Edition',
'SM-T325',
'Galaxy Trend',
'IdeaTab A2207A-H',
'A318t',
'U807',
'XT910',
'A706',
'A330e',
'D520',
'K860',
'A8-50',
'SM-T2558',
'8295c',
'ELIFE E6 mini',
'A630',
'Grand Era',
'TL1000',
'Z5',
'S5000',
'C8813DQ',
'T9508',
'R2010',
'Q201T',
'N821',
'idol X',
'DROID RAZR',
'G6-C00',
'ELIFE E7 Mini',
'A5',
'Ascend D2',
'V967S',
'X5',
'GN168t',
'YOGA Tablet B6000',
'G3819D',
'Galaxy Tab 2 P5110',
'V6',
'Y320T',
'A288t',
'Touch V',
'Fashion mobile phone',
'A628t',
'OKU3',
'I8258',
'Galaxy Tab 3 7.0',
'Defy+',
'P301M',
'5872',
'V9',
'8732',
'8070',
'Galaxy Y',
'7060',
'S2',
'GT-I8160',
'T967',
'A3300-T',
'T5',
'Tab2 A7-10F',
'A308t',
'Galaxy Tab Pro T321',
'V975s Core4',
'Desire S',
'L168',
'R850',
'GN705T',
'7251',
'M601',
'U5482',
'S90-u',
'Xperia U',
'U880',
'D330',
'C986t',
'EV5',
'T528d',
'G630',
'A656',
'S660',
'T60',
'Y325',
'Q7',
'I95',
'8089',
'Galaxy S',
'5832',
'G525',
'Desire 310',
'EG966',
'V10',
'Great God 1s',
'GN135',
'S3',
'M10-M',
'A378t',
'A889',
's820e',
'5860S',
'8076D',
'8017',
'Butterfly s',
'M6',
'Xperia ZR',
'608t',
'GN810',
'N986',
'Blade C',
'7019',
'N828',
'S880i',
'M030',
'G616-L076',
'A208t',
'GN139',
'VT898S',
'U939',
'Q301C',
'Galaxy Ace DUOS',
'A269i',
'GN878',
'One M8 Eye',
'A238t',
'VT868',
'A398t+',
'Q701C',
'TS1018',
'N818',
'T20',
'8707',
'S8-701u',
'Desire 5088',
'8017-T00',
'M8x',
'T327w',
'GN105',
'E600M',
'Xperia ZL',
'606w',
'MK260',
'memo 5S',
'Desire 609d',
'A3',
'Desire D516d',
'T8830Pro',
'HT-I717',
'A6800',
'I630T',
'T35',
'8713',
'Galaxy Tab S T800',
'E621T',
'Galaxy Grand Max',
'Allure L3C',
't789',
'U701T',
'Nexus 7',
'5218S',
'L70',
'M3',
'Q302C',
'U8825D',
'V919',
'One ME',
'Galaxy Infinite',
'Y220T',
'IVO 6688',
'Y610-U00',
'5216D',
'Little Pepper 4',
'T820',
'X920e',
'L820',
'S939',
'Xperia Z1 Colorful Edition',
'T9003',
'Wechat',
'T21',
'V95',
'A860e',
'V188',
'S8-701w',
'S5Q',
'One M9',
'voga v1',
'MM1103',
'M535',
'5261',
'i1',
'idol3',
'G5',
'S5',
'T12',
'A2860',
'Golden Fighter Youth Edition',
'P8',
'802d',
'Red Pepper NX Plus',
'A51kc',
'T004',
'BF A500',
'T1-821w',
'Sensation Z710E',
'Xiao Xian 3',
'little stars',
'M5 Plus',
'Galaxy Note 10.1 2014 Edition P601',
'Galaxy S DUOS',
'A355e',
'A30',
'TL500',
'Z5 Mini',
'BM001',
'A690',
'A68e',
'W619',
'GN106',
'GT-N8000',
'EG971',
'N880F',
'J320T',
'EG936D',
'Desire D516t',
'T929',
'I8250',
'A338t',
'T327t',
'N881F',
'GN180',
'5316',
'5930',
'S880',
'MC002',
'U819',
'JX8166',
'A300t',
'8717',
'9976D',
'Desire D316d',
'A805e',
'KDOOR X5-Y12',
'Daqi 3',
'S960',
'X7',
'Desire HD',
'E602M',
'H2',
'78P01',
'A588t',
'T619',
'8150',
'LT02',
'M1L',
'U8',
'8712',
'2C',
'M201S',
'T90',
'M20-M',
'SM-T2556',
'M3S',
'S6-NT1',
'A3600d',
'X98 3G',
'Little Pepper 6',
'A606',
'Q801L',
'P318L',
'S860e',
'T9600',
'T890',
'Galaxy Tab P7500',
'King Kong II',
'F105',
'L108',
'A768t',
'D557',
'W800',
'VIBE P1',
'L100',
'R2',
'ZTE Voyage 3',
'C03',
'Axon secret',
'OKA51',
'A385e',
'Galaxy Tab 2 P5100',
'N880E',
'MediaPad 10 Link',
'XT1033',
'EG980',
'210R',
'U86',
'Doeasy E700',
'Q501T',
'Y310-T10',
'Y310-5000',
'S6T',
's800',
'GN108',
'K88L',
'U1',
'Z4',
'8076',
'5311',
'L930i',
'Xperia M2',
'P2',
'L820c',
'VT888',
'U81t',
'Xperia ZR',
'I630M',
'C8813D',
'Qing Yang 3',
'Xperia ray',
'GN9004',
'Galaxy Grand 2 LTE',
'5876',
'C8812+',
'D516w',
'D360',
'Little Pepper 3',
'G629',
'P500M',
'GN800',
'N2',
'DM',
'I639T',
'PHAB Plus',
'Galaxy Tab 3 Lite T110',
'U968',
'Sonic+',
'P302C',
'Nexus 6P',
'7605',
'Y70-C',
'U808',
'T703',
'K23',
'Xuanying 90w',
'V931',
'Little Pepper 7',
'W700',
'H3',
'Tab2A7-20F',
'8736',
'Mos1',
'S8-50',
'5216s',
'W88',
'Ascend G330C',
'BM002',
'Drunk enjoy',
'MAX3',
'L5 mini',
'Craving for HD',
'A358t',
'N919D',
'5879',
'E913',
'V981',
'Little Pepper M3',
'Galaxy Tab S T805C',
'Desire V',
'I635T',
'E99',
'X6088',
'Optimus G Pro 2',
'A500',
'5310',
'7275',
'P501M',
'P518L',
'E260-T',
'U818',
'P502U',
'I900',
'U880S',
'Pegasus 3',
'7061',
'BM002-G5',
'P360W',
'P21',
'E968',
'HT-I857',
'Y523-L176',
'Leading Flagship 3',
'K80',
'Galaxy Ace 4',
'L82',
'Moto X 3',
'Little Pepper X4',
'V880',
'i600',
'U889',
'F320L',
'K012',
'U55GT',
'Xperia Z5 Premium',
'A375e',
'302U',
'T00G',
'L823',
'C666t',
'EG929',
'MediaPad M1',
'W6618',
'A590',
'a218t',
'E956Q',
'S300',
'A3500',
'E50-T',
'GN705',
'BM003',
'A780',
'D1',
'Q3C',
'A360e',
'P305',
'F1',
'LT988',
'5313S',
'Red Pepper Note3',
'Galaxy S7',
'Xplay5',
'Desire 816x',
'S668t',
'T9608',
'IdeaTab A1010-T',
'W700+',
'5200',
'F240S',
'M15',
'T928',
'Q805T',
'U970',
'A396',
'S90-e',
'Tianjian W808',
'J636D+',
'V923',
'T13',
'P51',
'X10i',
'E820',
'GN5002',
'G9',
'P9 Plus',
'A328t',
'8715',
'U880E',
'Tianjian W900S',
'One A9',
'8722',
'V889M',
'T780+',
'N919',
'Galaxy Core',
'U793',
'L855',
'T9500',
'P3',
'Daguan Bodun',
'S560',
'Xperia J',
'A3890',
'G610M',
'Charm Blue Note3',
'Hol-U10',
'Q509T',
'XT928',
'X18',
'A630e',
'MM1104',
'I7',
'A380e',
'A65',
'U25GT',
'Razr V Edge',
'T6',
'IVO 6666',
'Z7',
'S8-303L',
'9300-M9',
'V983',
'G730-U30',
'V701s Core4',
'A366t',
'V965T',
'ME7510KG',
'W2016',
'One X9',
'T328d',
'YOGA Tablet B8000',
'A100',
'C986t+',
'ZenFone Selfie',
'Mars One Exploration Edition',
'P596',
'S838M',
'IdeaTab A1000-T',
'G309T',
'A780e',
'DROID RAZR M',
'VIBE X2 Pro',
'Moto X pole',
'A395e',
'Gigaset ME',
'Ascend D1',
'Galaxy Tab P1000',
'Find 3',
'U960',
'G620-L72',
'T918',
'U936',
'I699I',
'E622M',
'X80h',
'B8080-F',
'Mirror X5',
'Moto Turbo',
'A1020',
'T860',
'S870e',
'Little octopus',
'Z1988',
'X98 Air 3G',
'King 7',
'King 7s',
'T621',
'Y320C',
'M228-M51',
'I6',
'Galaxy S DUOS 2',
'Le Lemon 3',
'T89-2',
'm310',
'H6',
'Le Lemon X3',
'Pegasus 2 Plus',
'Galaxy Tab S T705',
'IVO 8800',
'U59GT']}
md_df=pd.DataFrame.from_dict(model)
md_df

                  model          model_eng
0                   Y13                Y13
1                  V183               V183
2                   R7s                R7s
3                 A368t              A368t
4               红米Note2        Redmi Note2
...                 ...                ...
1462               乐檬X3        Le Lemon X3
1463           飞马2 Plus     Pegasus 2 Plus
1464  Galaxy Tab S T705  Galaxy Tab S T705
1465           IVO 8800           IVO 8800
1466              U59GT              U59GT

[1467 rows x 2 columns]

In [ ]:
df1.brand.unique()

array(['vivo', '小米', 'OPPO', '三星', '酷派', '联想 ', '华为', '奇酷', '魅族', '斐讯',
       '中国移动', 'HTC', '天语', '至尊宝', 'LG', '欧博信', '优米', 'ZUK', '努比亚', '惠普',
       '尼比鲁', '美图', '乡米', '摩托罗拉', '梦米', '锤子', '富可视', '乐视', '海信', '百立丰',
       '一加', '语信', '海尔', '酷比', '纽曼', '波导', '朵唯', '聆韵', 'TCL', '酷珀', '爱派尔',
       'LOGO', '青葱', '果米', '华硕', '昂达', '艾优尼', '康佳', '优购', '邦华', '赛博宇华',
       '黑米', 'Lovme', '先锋', 'E派', '神舟', '诺基亚', '普耐尔', '糖葫芦', '亿通', '欧新',
       '米奇', '酷比魔方', '蓝魔', '小杨树', '贝尔丰', '糯米', '米歌', 'E人E本', '西米', '大Q',
       '台电', '飞利浦', '唯米', '大显', '长虹', '维图', '青橙', '本为', '虾米', '夏新', '帷幄',
       '百加', 'SUGAR', '欧奇', '世纪星', '智镁', '欧比', '基伍', '飞秒', '德赛', '易派',
       '谷歌', '金星数码', '广信', '诺亚信', 'MIL', '白米', '大可乐', '宝捷讯', '优语', '首云',
       '瑞米', '瑞高', '沃普丰', '摩乐', '鲜米', '凯利通', '唯比', '欧沃', '丰米', '恒宇丰',
       '奥克斯', '西门子', '欧乐迪', 'PPTV'], dtype=object)

In [ ]:
phone={'brand':['vivo', '小米', 'OPPO', '三星', '酷派', '联想 ', '华为', '奇酷', '魅族', '斐讯',
       '中国移动', 'HTC', '天语', '至尊宝', 'LG', '欧博信', '优米', 'ZUK', '努比亚', '惠普',
       '尼比鲁', '美图', '乡米', '摩托罗拉', '梦米', '锤子', '富可视', '乐视', '海信', '百立丰',
       '一加', '语信', '海尔', '酷比', '纽曼', '波导', '朵唯', '聆韵', 'TCL', '酷珀', '爱派尔',
       'LOGO', '青葱', '果米', '华硕', '昂达', '艾优尼', '康佳', '优购', '邦华', '赛博宇华',
       '黑米', 'Lovme', '先锋', 'E派', '神舟', '诺基亚', '普耐尔', '糖葫芦', '亿通', '欧新',
       '米奇', '酷比魔方', '蓝魔', '小杨树', '贝尔丰', '糯米', '米歌', 'E人E本', '西米', '大Q',
       '台电', '飞利浦', '唯米', '大显', '长虹', '维图', '青橙', '本为', '虾米', '夏新', '帷幄',
       '百加', 'SUGAR', '欧奇', '世纪星', '智镁', '欧比', '基伍', '飞秒', '德赛', '易派',
       '谷歌', '金星数码', '广信', '诺亚信', 'MIL', '白米', '大可乐', '宝捷讯', '优语', '首云',
       '瑞米', '瑞高', '沃普丰', '摩乐', '鲜米', '凯利通', '唯比', '欧沃', '丰米', '恒宇丰',
       '奥克斯', '西门子', '欧乐迪', 'PPTV'], 
    'brand_eng':['vivo','Xiaomi','OPPO','Samsung','Coolpad','Lenovo','Huawei','Qiku','Meizu','Phicom',
       'China Mobile','HTC','Tianyu','Extreme Bao','LG','Oberxin','Yumi','ZUK','Nubia','HP',
       'Nibiru','Meitu','Xiangmi','Motorola','Mengmi','Hammer','InFocus','LeTV','Hisense','Bai Li Feng',
       'OnePlus','Yuxin','Haier','Cubbie','Newman','Bird','Dove','Lingyun','TCL','Copper','Aipel ',
       'LOGO','green onion','fruit rice','ASUS','Onda','Aiyouni','Konka','Yougo','Banghua','Cyber ​​Yuhua',
       'Black Rice','Lovme','Pioneer','E School','Shenzhou','Nokia','Pnair','Candy Gourd','Yitong','Ouxin',
       'Mickey','Cubbie Rubik','Blue Devils','Little Poplar','Bairfeng','Nuomi','Mi Song','E People E Book','Simi','Big Q' ,
       'Taipower','Philips','Weimi','Daxian','Changhong','Vitu','Green Orange','Originally','Xia Mi','Amoi','Wei Mi',
       'Bajia','SUGAR','Ouqi','Century Star','Zhimei','Obi','Kivu','Femtosecond','Desai','Yipai',
       'Google','Venus Digital','Guangxin','Noah Xin','MIL','White Rice','Coke','Baojiexun','Youyu','Shouyun',
       'Rimei','Rigao','Wopfung','Mole','Fresh Rice','Kailyton','Weibi','Ouwo','Fengmi','Hengyufeng ',
       'Ox','Siemens','Orlandi','PPTV']}
ph_df=pd.DataFrame.from_dict(phone)
ph_df

    brand    brand_eng
0    vivo         vivo
1      小米       Xiaomi
2    OPPO         OPPO
3      三星      Samsung
4      酷派      Coolpad
..    ...          ...
111   恒宇丰  Hengyufeng
112   奥克斯           Ox
113   西门子      Siemens
114   欧乐迪      Orlandi
115  PPTV         PPTV

[116 rows x 2 columns]

In [ ]:
df2=df1.copy()

In [ ]:
df2=pd.merge(df2,ph_df,how='left',on='brand')
df2.head(3)

             device_id brand model brand_eng
0  1877775838486905855  vivo   Y13      vivo
1 -3766087376657242966    小米  V183    Xiaomi
2 -6238937574958215831  OPPO   R7s      OPPO

In [ ]:
df2=pd.merge(df2,md_df,how='left',on='model')
df2.head(3)

             device_id brand model brand_eng model_eng
0  1877775838486905855  vivo   Y13      vivo       Y13
1 -3766087376657242966    小米  V183    Xiaomi      V183
2 -6238937574958215831  OPPO   R7s      OPPO       R7s

In [ ]:
df2.drop('brand',axis=1,inplace=True)
df2.drop('model',axis=1,inplace=True)

In [ ]:
df2.head()

             device_id brand_eng    model_eng
0  1877775838486905855      vivo          Y13
1 -3766087376657242966    Xiaomi         V183
2 -6238937574958215831      OPPO          R7s
3  8973197758510677470   Samsung        A368t
4 -2015528097870762664    Xiaomi  Redmi Note2

In [ ]:
df2.brand_eng.unique()

array(['vivo', 'Xiaomi', 'OPPO', 'Samsung', 'Coolpad', 'Lenovo', 'Huawei',
       'Qiku', 'Meizu', 'Phicom', 'China Mobile', 'HTC', 'Tianyu',
       'Extreme Bao', 'LG', 'Oberxin', 'Yumi', 'ZUK', 'Nubia', 'HP',
       'Nibiru', 'Meitu', 'Xiangmi', 'Motorola', 'Mengmi', 'Hammer',
       'InFocus', 'LeTV', 'Hisense', 'Bai Li Feng', 'OnePlus', 'Yuxin',
       'Haier', 'Cubbie', 'Newman', 'Bird', 'Dove', 'Lingyun', 'TCL',
       'Copper', 'Aipel ', 'LOGO', 'green onion', 'fruit rice', 'ASUS',
       'Onda', 'Aiyouni', 'Konka', 'Yougo', 'Banghua',
       'Cyber \u200b\u200bYuhua', 'Black Rice', 'Lovme', 'Pioneer',
       'E School', 'Shenzhou', 'Nokia', 'Pnair', 'Candy Gourd', 'Yitong',
       'Ouxin', 'Mickey', 'Cubbie Rubik', 'Blue Devils', 'Little Poplar',
       'Bairfeng', 'Nuomi', 'Mi Song', 'E People E Book', 'Simi', 'Big Q',
       'Taipower', 'Philips', 'Weimi', 'Daxian', 'Changhong', 'Vitu',
       'Green Orange', 'Originally', 'Xia Mi', 'Amoi', 'Wei Mi', 'Bajia',
       'SUGAR', 'Ouqi', 'Century Star', 'Zhimei', 'Obi', 'Kivu',
       'Femtosecond', 'Desai', 'Yipai', 'Google', 'Venus Digital',
       'Guangxin', 'Noah Xin', 'MIL', 'White Rice', 'Coke', 'Baojiexun',
       'Youyu', 'Shouyun', 'Rimei', 'Rigao', 'Wopfung', 'Mole',
       'Fresh Rice', 'Kailyton', 'Weibi', 'Ouwo', 'Fengmi', 'Hengyufeng ',
       'Ox', 'Siemens', 'Orlandi', 'PPTV'], dtype=object)

In [ ]:
df2.model_eng.unique().shape

(1466,)

In [ ]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data(project_df)

           Total   Percent
device_id    453  0.013926
latitude     423  0.013004
longitude    423  0.013004
state        377  0.011589
city           0  0.000000
timestamp      0  0.000000
event_id       0  0.000000

In [ ]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data(df)

           Total  Percent
age_group      0      0.0
age            0      0.0
gender         0      0.0
device_id      0      0.0

In [ ]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data(df2)

           Total  Percent
model_eng      0      0.0
brand_eng      0      0.0
device_id      0      0.0

In [ ]:
df1 = project_df.copy()

In [ ]:
df1['device_id'].fillna(1001, inplace = True)
df1['latitude'].fillna(1001, inplace = True)
df1['longitude'].fillna(1001, inplace = True)
df1['state'].fillna(1001, inplace = True)

In [ ]:
df1[(df1.device_id==1001) & (df1.latitude==1001)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [ ]:
df1[(df1.longitude==1001) & (df1.latitude==1001)]

         event_id     device_id  ...           city          state
8015      2929521  1.779631e+18  ...          Delhi          Delhi
9697      1017749 -8.790560e+18  ...         Indore  MadhyaPradesh
10949     2132415  4.865607e+18  ...  Visakhapatnam  AndhraPradesh
16038      926804  7.983871e+18  ...        Chennai      TamilNadu
20586     3074782 -7.364841e+18  ...           Pune    Maharashtra
...           ...           ...  ...            ...            ...
3226082   1955966  6.774071e+18  ...           Moga         Punjab
3240057   2318768  1.779631e+18  ...          Delhi          Delhi
3240304   2387314 -7.364841e+18  ...           Pune    Maharashtra
3246545   2857050  4.580179e+18  ...         Jaipur      Rajasthan
3249260   1565626  2.350979e+18  ...         Indore  MadhyaPradesh

[423 rows x 7 columns]

In [ ]:
df1[(df1.device_id==1001) & (df1.state==1001)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [ ]:
df1[(df1.latitude==1001) & (df1.state==1001)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [ ]:
df1[df1.state==1001]

         event_id     device_id  ...           city  state
2931       706554 -5.829328e+18  ...           Pune   1001
16243     1918653  3.137054e+18  ...  Visakhapatnam   1001
26956     1068940 -1.752057e+18  ...         Indore   1001
30889     2164200 -3.945827e+17  ...  Visakhapatnam   1001
32685      460124  5.536513e+18  ...        Chennai   1001
...           ...           ...  ...            ...    ...
3210326   1070365 -5.858653e+18  ...    Gangarampur   1001
3226848    145171  4.620271e+18  ...       Arambagh   1001
3235317    210361 -8.340098e+18  ...          Delhi   1001
3236931   2738361  4.113023e+18  ...         Indore   1001
3242228   1082720 -5.330179e+18  ...         Jaipur   1001

[377 rows x 7 columns]

In [ ]:
df1[df1.device_id==1001]

         event_id  device_id  ...           city          state
2055      1936567     1001.0  ...         Indore  MadhyaPradesh
26367     2659282     1001.0  ...         Jaipur      Rajasthan
42088      442198     1001.0  ...         Jaipur      Rajasthan
43061     1903648     1001.0  ...         Indore  MadhyaPradesh
44823     3227383     1001.0  ...     Hoshiarpur         Punjab
...           ...        ...  ...            ...            ...
3212337   2191286     1001.0  ...  Visakhapatnam  AndhraPradesh
3215120    572054     1001.0  ...  Visakhapatnam  AndhraPradesh
3230115    332451     1001.0  ...     Hoshiarpur         Punjab
3235494   2534073     1001.0  ...  Visakhapatnam  AndhraPradesh
3250939   1622538     1001.0  ...         Jaipur      Rajasthan

[453 rows x 7 columns]

In [ ]:
df1[df1.city=='Indore'].head(10)

     event_id     device_id  ...    city          state
36    1440842 -8.030970e+18  ...  Indore  MadhyaPradesh
56     124198  1.355801e+18  ...  Indore  MadhyaPradesh
69    2901758  6.276407e+18  ...  Indore  MadhyaPradesh
98    1035495  5.425313e+18  ...  Indore  MadhyaPradesh
111   1734871 -1.750588e+18  ...  Indore  MadhyaPradesh
152   2348848  6.259584e+18  ...  Indore  MadhyaPradesh
173   3225653  5.239536e+18  ...  Indore  MadhyaPradesh
183    466536  7.580036e+18  ...  Indore  MadhyaPradesh
198   2480450  5.454790e+18  ...  Indore  MadhyaPradesh
227   1067475 -6.705738e+18  ...  Indore  MadhyaPradesh

[10 rows x 7 columns]

In [ ]:
cty_lst = project_df.city.unique()

In [ ]:
state_lst=[]
for i in range(len(cty_lst)):
  state_lst.append(project_df.loc[project_df['city'] == cty_lst[i], 'state'].iloc[0])

In [ ]:
len(state_lst)

933

In [ ]:
lat_lst=[]
for i in range(len(cty_lst)):
  lat_lst.append(project_df.loc[project_df['city'] == cty_lst[i], 'latitude'].iloc[0])

In [ ]:
long_lst=[]
for i in range(len(cty_lst)):
  long_lst.append(project_df.loc[project_df['city'] == cty_lst[i], 'longitude'].iloc[0])

In [ ]:
frames = [pd.DataFrame(cty_lst), pd.DataFrame(state_lst),pd.DataFrame(lat_lst), pd.DataFrame(long_lst)]
ct_st_df = pd.concat(frames,axis=1,join="outer")

In [ ]:
ct_st_df.reset_index().drop('index',axis=1,inplace=True)
ct_st_df.columns=['city', 'State', 'Latitude', 'Longitude']

In [ ]:
ct_st_df.head(5)

            city          State   Latitude  Longitude
0          Delhi          Delhi  28.730140  77.225676
1       Calcutta     WestBengal  22.660325  88.388361
2        Chennai      TamilNadu  13.153332  80.343613
3         Bokaro      Jharkhand  23.842609  85.997745
4  Visakhapatnam  AndhraPradesh  17.768149  83.398244

In [ ]:
project_df=pd.merge(project_df,ct_st_df,how='left',on='city')
project_df.head(3)

   event_id             device_id  ...   Latitude  Longitude
0   2765368   2973347786994914304  ...  28.730140  77.225676
1   2955066   4734221357723754978  ...  22.660325  88.388361
2    605968  -3264499652692492784  ...  28.730140  77.225676

[3 rows x 10 columns]

In [ ]:
project_df.drop('state',axis=1,inplace=True)

In [ ]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data(project_df)

           Total   Percent
device_id    453  0.013926
latitude     423  0.013004
longitude    423  0.013004
Longitude      0  0.000000
Latitude       0  0.000000
State          0  0.000000
city           0  0.000000
timestamp      0  0.000000
event_id       0  0.000000

In [ ]:
project_df['latitude'].fillna(1002, inplace = True)
project_df['longitude'].fillna(1003, inplace = True)

In [ ]:
project_df[project_df.latitude==1002]

         event_id             device_id  ...   Latitude  Longitude
8015      2929521   1779631023439405334  ...  28.730140  77.225676
9697      1017749  -8790560034584248901  ...  22.782454  75.920838
10949     2132415   4865606571395669317  ...  17.768149  83.398244
16038      926804   7983871429718484702  ...  13.153332  80.343613
20586     3074782  -7364840628879980812  ...  18.615791  73.875196
...           ...                   ...  ...        ...        ...
3226082   1955966   6774071338248978547  ...  30.847549  75.251970
3240057   2318768   1779631023439405334  ...  28.730140  77.225676
3240304   2387314  -7364840628879980812  ...  18.615791  73.875196
3246545   2857050   4580179444377397556  ...  26.931170  75.863671
3249260   1565626   2350979402202438478  ...  22.782454  75.920838

[423 rows x 9 columns]

In [ ]:
def latmis(row):
    if row['latitude']== 1002:
        val = row['Latitude']
    else:
        val = row['latitude']
    return val

In [ ]:
def longmis(row):
    if row['longitude']== 1003:
        val = row['Longitude']
    else:
        val = row['longitude']
    return val

In [ ]:
project_df['LATITUDE'] = project_df.apply(latmis, axis=1)
project_df['LONGITUDE'] = project_df.apply(longmis, axis=1)
project_df.head()

   event_id             device_id  ...   LATITUDE  LONGITUDE
0   2765368   2973347786994914304  ...  28.730140  77.225676
1   2955066   4734221357723754978  ...  22.660325  88.388361
2    605968  -3264499652692492784  ...  28.757906  77.256809
3    448114   5731369272434022440  ...  13.153332  80.343613
4    665740    338888002570799963  ...  23.842609  85.997745

[5 rows x 11 columns]

In [ ]:
project_df[project_df.latitude==1002]

         event_id             device_id  ...   LATITUDE  LONGITUDE
8015      2929521   1779631023439405334  ...  28.730140  77.225676
9697      1017749  -8790560034584248901  ...  22.782454  75.920838
10949     2132415   4865606571395669317  ...  17.768149  83.398244
16038      926804   7983871429718484702  ...  13.153332  80.343613
20586     3074782  -7364840628879980812  ...  18.615791  73.875196
...           ...                   ...  ...        ...        ...
3226082   1955966   6774071338248978547  ...  30.847549  75.251970
3240057   2318768   1779631023439405334  ...  28.730140  77.225676
3240304   2387314  -7364840628879980812  ...  18.615791  73.875196
3246545   2857050   4580179444377397556  ...  26.931170  75.863671
3249260   1565626   2350979402202438478  ...  22.782454  75.920838

[423 rows x 11 columns]

In [ ]:
project_df[(project_df.city=='Indore')&(project_df.latitude==1002)].head(10)

        event_id             device_id  ...   LATITUDE  LONGITUDE
9697     1017749  -8790560034584248901  ...  22.782454  75.920838
100589   2503842  -8790560034584248901  ...  22.782454  75.920838
113111   1945373   2350979402202438478  ...  22.782454  75.920838
147549   2259556  -8790560034584248901  ...  22.782454  75.920838
157179   1006744   3738280493453802895  ...  22.782454  75.920838
334499   2095096   2350979402202438478  ...  22.782454  75.920838
413436   3116310   2350979402202438478  ...  22.782454  75.920838
638306   1049018   3738280493453802895  ...  22.782454  75.920838
722454    383438   3738280493453802895  ...  22.782454  75.920838
774747   2124135   3738280493453802895  ...  22.782454  75.920838

[10 rows x 11 columns]

In [ ]:
project_df[project_df.city=='Indore'].head(10)

     event_id             device_id  ...   LATITUDE  LONGITUDE
36    1440842  -8030970152489632167  ...  22.782454  75.920838
56     124198   1355800986482163144  ...  22.747004  75.919540
69    2901758   6276407431663380354  ...  22.793154  75.958564
98    1035495   5425313463903234434  ...  22.737506  75.888745
111   1734871  -1750587505744339316  ...  22.749000  75.918667
152   2348848   6259584432101179526  ...  22.781937  75.956158
173   3225653   5239536486169400333  ...  22.771701  75.911307
183    466536   7580036394434457107  ...  22.746807  75.935055
198   2480450   5454789504599154272  ...  22.771225  75.945880
227   1067475  -6705737572680864998  ...  22.781924  75.924731

[10 rows x 11 columns]

In [ ]:
project_df.drop('longitude',axis=1,inplace=True)
project_df.drop('latitude',axis=1,inplace=True)
project_df.drop('Longitude',axis=1,inplace=True)
project_df.drop('Latitude',axis=1,inplace=True)

In [ ]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data(project_df)

           Total   Percent
device_id    453  0.013926
LONGITUDE      0  0.000000
LATITUDE       0  0.000000
State          0  0.000000
city           0  0.000000
timestamp      0  0.000000
event_id       0  0.000000

In [ ]:
lati_lst = project_df.LATITUDE.unique()

In [ ]:
dev_lst=[]
for i in range(len(lati_lst)):
  dev_lst.append(project_df.loc[project_df['LATITUDE'] == lati_lst[i], 'device_id'].iloc[0])

In [ ]:
len(dev_lst)

60185

In [ ]:
frames1 = [pd.DataFrame(lati_lst), pd.DataFrame(dev_lst)]
dev_lat_df = pd.concat(frames1,axis=1,join="outer")

In [ ]:
dev_lat_df.head(3)

           0                     0
0  28.730140   2973347786994914304
1  22.660325   4734221357723754978
2  28.757906  -3264499652692492784

In [ ]:
dev_lat_df.reset_index().drop('index',axis=1,inplace=True)
dev_lat_df.columns=['LATITUDE', 'Device_id']

In [ ]:
dev_lat_df.head(5)

    LATITUDE             Device_id
0  28.730140   2973347786994914304
1  22.660325   4734221357723754978
2  28.757906  -3264499652692492784
3  13.153332   5731369272434022440
4  23.842609    338888002570799963

In [ ]:
project_df['device_id'].fillna(1001, inplace = True)

In [ ]:
project_df=pd.merge(project_df,dev_lat_df,how='left',on='LATITUDE')
project_df.head(3)

   event_id             device_id  ...  LONGITUDE             Device_id
0   2765368   2973347786994914304  ...  77.225676   2973347786994914304
1   2955066   4734221357723754978  ...  88.388361   4734221357723754978
2    605968  -3264499652692492784  ...  77.256809  -3264499652692492784

[3 rows x 8 columns]

In [ ]:
def lat_dev_mis(row):
    if row['device_id']== 1001:
        val = row['Device_id']
    else:
        val = row['device_id']
    return val

In [ ]:
project_df['DEVICE_ID'] = project_df.apply(lat_dev_mis, axis=1)
project_df.head()

   event_id             device_id  ...             Device_id             DEVICE_ID
0   2765368   2973347786994914304  ...   2973347786994914304   2973347786994914304
1   2955066   4734221357723754978  ...   4734221357723754978   4734221357723754978
2    605968  -3264499652692492784  ...  -3264499652692492784  -3264499652692492784
3    448114   5731369272434022440  ...   5731369272434022440   5731369272434022440
4    665740    338888002570799963  ...    338888002570799963    338888002570799963

[5 rows x 9 columns]

In [ ]:
project_df[project_df.device_id==1001].head(10)

        event_id device_id  ...             Device_id             DEVICE_ID
2055     1936567      1001  ...                   NaN                   NaN
26367    2659282      1001  ...   -917725110041294385   -917725110041294385
42088     442198      1001  ...  -8460337302442785825  -8460337302442785825
43061    1903648      1001  ...   7597735768595924821   7597735768595924821
44823    3227383      1001  ...   1750778632182066836   1750778632182066836
45052    1129522      1001  ...   9027085705222633039   9027085705222633039
59590     690029      1001  ...   8539870903150472243   8539870903150472243
66694    2909778      1001  ...   6844192269280790123   6844192269280790123
72898    1401852      1001  ...   5098778421671837341   5098778421671837341
106494   1722320      1001  ...    177158571165078698    177158571165078698

[10 rows x 9 columns]

In [ ]:
missing_data(project_df)

           Total   Percent
Device_id    770  0.023671
DEVICE_ID     17  0.000523
LONGITUDE      0  0.000000
LATITUDE       0  0.000000
State          0  0.000000
city           0  0.000000
timestamp      0  0.000000
device_id      0  0.000000
event_id       0  0.000000

In [ ]:
project_work = project_df[project_df["State"].isin(['AndhraPradesh', 'Pondicherry', 'Mizoram', 'AndamanandNicobarIslands', 'Meghalaya', 'HimachalPradesh'])]

In [ ]:
project_work.shape

(329053, 9)

In [ ]:
project_work.head(5)

    event_id             device_id  ...             Device_id             DEVICE_ID
5    1078723   -512424213979236423  ...   -512424213979236423   -512424213979236423
7     280014  -8879643774076165575  ...  -8879643774076165575  -8879643774076165575
12   2334601   -601883305299256779  ...   -601883305299256779   -601883305299256779
32   2064864  -2764520535330416860  ...  -2764520535330416860  -2764520535330416860
48   1341801   4986891477794016217  ...   4986891477794016217   4986891477794016217

[5 rows x 9 columns]

In [ ]:
missing_data(project_work)

           Total  Percent
DEVICE_ID      0      0.0
Device_id      0      0.0
LONGITUDE      0      0.0
LATITUDE       0      0.0
State          0      0.0
city           0      0.0
timestamp      0      0.0
device_id      0      0.0
event_id       0      0.0

In [ ]:
project_work.drop('device_id',axis=1,inplace=True)
project_work.drop('Device_id',axis=1,inplace=True)

In [ ]:
project_work.rename(columns={'DEVICE_ID': 'device_id'}, inplace=True)

In [ ]:
missing_data(project_work)

           Total  Percent
device_id      0      0.0
LONGITUDE      0      0.0
LATITUDE       0      0.0
State          0      0.0
city           0      0.0
timestamp      0      0.0
event_id       0      0.0

In [ ]:
import datetime
import pandas as pd
project_work['Date_Time'] = pd.to_datetime(project_work['timestamp'])
project_work['Day']=project_work['Date_Time'].dt.day_name()
project_work.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    event_id            timestamp  ...           Date_Time       Day
5    1078723  2016-05-02 02:21:20  ... 2016-05-02 02:21:20    Monday
7     280014  2016-05-05 13:06:01  ... 2016-05-05 13:06:01  Thursday
12   2334601  2016-05-05 11:17:48  ... 2016-05-05 11:17:48  Thursday

[3 rows x 9 columns]

In [ ]:
project_work.drop('timestamp',axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
def hr_func(ts):
    return ts.hour
project_work['Time'] = project_work['Date_Time'].apply(hr_func)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
project_work.head(3)

    event_id           city          State  ...           Date_Time       Day Time
5    1078723  Visakhapatnam  AndhraPradesh  ... 2016-05-02 02:21:20    Monday    2
7     280014       Wanparti  AndhraPradesh  ... 2016-05-05 13:06:01  Thursday   13
12   2334601  Visakhapatnam  AndhraPradesh  ... 2016-05-05 11:17:48  Thursday   11

[3 rows x 9 columns]

In [ ]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data(project_work)

           Total  Percent
Time           0      0.0
Day            0      0.0
Date_Time      0      0.0
device_id      0      0.0
LONGITUDE      0      0.0
LATITUDE       0      0.0
State          0      0.0
city           0      0.0
event_id       0      0.0

In [ ]:
project_work.State.unique()

array(['AndhraPradesh', 'Mizoram', 'Pondicherry', 'Meghalaya',
       'HimachalPradesh', 'AndamanandNicobarIslands'], dtype=object)

In [ ]:
df.head(3)

             device_id gender  age age_group
0 -8076087639492063270      M   35    M32-38
1 -2897161552818060146      M   35    M32-38
2 -8260683887967679142      M   35    M32-38

In [ ]:
df2.head(3)

             device_id brand_eng model_eng
0  1877775838486905855      vivo       Y13
1 -3766087376657242966    Xiaomi      V183
2 -6238937574958215831      OPPO       R7s

In [ ]:
df['device_id']=df['device_id'].astype(str)
df2['device_id']=df2['device_id'].astype(str)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  74645 non-null  object
 1   gender     74645 non-null  object
 2   age        74645 non-null  int64
 3   age_group  74645 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87726 entries, 0 to 87725
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  87726 non-null  object
 1   brand_eng  87726 non-null  object
 2   model_eng  87726 non-null  object
dtypes: object(3)
memory usage: 2.7+ MB

In [ ]:
project_work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 329053 entries, 5 to 3252948
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   event_id   329053 non-null  int64
 1   city       329053 non-null  object
 2   State      329053 non-null  object
 3   LATITUDE   329053 non-null  float64
 4   LONGITUDE  329053 non-null  float64
 5   device_id  329053 non-null  object
 6   Date_Time  329053 non-null  datetime64[ns]
 7   Day        329053 non-null  object
 8   Time       329053 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 25.1+ MB

In [ ]:
df_age=df.copy()
df_phone=df2.copy()

In [ ]:
df_age.device_id.nunique(),df_phone.device_id.nunique()

(74645, 87726)

In [ ]:
df_age=pd.merge(df_age,df_phone,how='inner',on='device_id')
df_age.head(3)

              device_id gender  age age_group brand_eng model_eng
0  -8076087639492063270      M   35    M32-38    Xiaomi      MI 2
1  -2897161552818060146      M   35    M32-38    Xiaomi      MI 2
2  -8260683887967679142      M   35    M32-38    Xiaomi      MI 2

In [ ]:
df_age.tail(3)

                 device_id gender  age age_group brand_eng      model_eng
74614   180946546684162312      M   20      M22-    Xiaomi  Red rice note
74615  1390702386071991851      M   37    M32-38    Huawei      Ascend P8
74616    89181010588227347      M   25    M23-26    Huawei      Ascend P8

In [ ]:
missing_data(df_age)

           Total  Percent
model_eng      0      0.0
brand_eng      0      0.0
age_group      0      0.0
age            0      0.0
gender         0      0.0
device_id      0      0.0

In [ ]:
df_age.shape

(74617, 6)

In [ ]:
project_work.head(3)

    event_id           city          State  ...           Date_Time       Day Time
5    1078723  Visakhapatnam  AndhraPradesh  ... 2016-05-02 02:21:20    Monday    2
7     280014       Wanparti  AndhraPradesh  ... 2016-05-05 13:06:01  Thursday   13
12   2334601  Visakhapatnam  AndhraPradesh  ... 2016-05-05 11:17:48  Thursday   11

[3 rows x 9 columns]

In [ ]:
project_work.shape

(329053, 9)

In [ ]:
project_work.describe()

           event_id       LATITUDE      LONGITUDE           Time
count  3.290530e+05  329053.000000  329053.000000  329053.000000
mean   1.625941e+06      17.618468      82.467433      13.286240
std    9.404142e+05       1.611225       2.217401       5.930982
min    5.985000e+03      10.941103      12.567400       0.000000
25%    8.113230e+05      17.744884      82.234912       9.000000
50%    1.627373e+06      17.775366      83.339626      13.000000
75%    2.440221e+06      17.807585      83.372565      18.000000
max    3.252943e+06      41.871900      92.859813      23.000000

In [ ]:
project_work.event_id.nunique()

329053

In [ ]:
project_work=pd.merge(project_work,df_age,how='inner',on='device_id')

In [ ]:
project_work.tail(10)

        event_id             city  ... brand_eng       model_eng
329043    989826           Gadwal  ...    Lenovo          Star 1
329044   1386938         Tirupati  ...    Xiaomi            MI 4
329045   2680565         Kakinada  ...    Huawei        G730-T00
329046   1546043      ChinnaChawk  ...    Huawei          X1 7.0
329047    808480        Palwancha  ...   Coolpad            8190
329048    618827       Belampalli  ...   Samsung  Galaxy Grand 2
329049   1826129    Rajendranagar  ...   Samsung   Galaxy Note 3
329050   3113359       Bhimavaram  ...    Xiaomi           MI 2A
329051   2820491  LalbahadurNagar  ...   Samsung          G3588V
329052    821647     Qutubullapur  ...    Xiaomi           MI 2S

[10 rows x 14 columns]

In [ ]:
project_work.State.unique()

array(['AndhraPradesh', 'Mizoram', 'Pondicherry', 'Meghalaya',
       'HimachalPradesh', 'AndamanandNicobarIslands'], dtype=object)

In [ ]:
project_work.nunique()

event_id     329053
city            112
State             6
LATITUDE       5209
LONGITUDE      5202
device_id      5222
Date_Time    240577
Day               7
Time             24
gender            2
age              72
age_group        12
brand_eng        69
model_eng       722
dtype: int64

In [ ]:
project_work[project_work.device_id==1001].head(10)

Empty DataFrame
Columns: [event_id, city, State, LATITUDE, LONGITUDE, device_id, Date_Time, Day, Time, gender, age, age_group, brand_eng, model_eng]
Index: []

In [ ]:
project_work.head(10)

   event_id           city          State  ...  age_group  brand_eng model_eng
0   1078723  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
1   1250159  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
2   1413455  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
3   1812818  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
4   2965021  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
5    376137  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
6   1595376  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
7   2176349  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
8   2859218  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A
9   1843888  Visakhapatnam  AndhraPradesh  ...     M29-31     Xiaomi     MI 2A

[10 rows x 14 columns]

In [ ]:
project_work.age_group.unique()

array(['M29-31', 'M32-38', 'F27-28', 'M39+', 'F33-42', 'M23-26', 'M22-',
       'F43+', 'M27-28', 'F24-26', 'F29-32', 'F23-'], dtype=object)

In [ ]:
project_work.describe()

In [ ]:
project_work[project_work.age<10].shape

(10, 14)

In [ ]:
bins = [0, 17, 23, 26, 28, 32, 38, 42, 50, 60, 70, 80, 90]
labels = ['Below 18','18-23','24-26','27-28','29-32','33-38','39-42','43-50','51-60','61-70','71-80','81-90']
project_work['age_range'] = pd.cut(project_work['age'], bins=bins, labels=labels)
project_work.head(3)

   event_id           city          State  ...  brand_eng  model_eng age_range
0   1078723  Visakhapatnam  AndhraPradesh  ...     Xiaomi      MI 2A     29-32
1   1250159  Visakhapatnam  AndhraPradesh  ...     Xiaomi      MI 2A     29-32
2   1413455  Visakhapatnam  AndhraPradesh  ...     Xiaomi      MI 2A     29-32

[3 rows x 15 columns]

In [ ]:
project_work[project_work.age_range.isnull()]

Empty DataFrame
Columns: [event_id, city, State, LATITUDE, LONGITUDE, device_id, Date_Time, Day, Time, gender, age, age_group, brand_eng, model_eng, age_range]
Index: []

In [ ]:
project_work.drop('age_group',axis=1,inplace=True)

In [ ]:
missing_data(project_work)

           Total  Percent
age_range      0      0.0
model_eng      0      0.0
brand_eng      0      0.0
age            0      0.0
gender         0      0.0
Time           0      0.0
Day            0      0.0
Date_Time      0      0.0
device_id      0      0.0
LONGITUDE      0      0.0
LATITUDE       0      0.0
State          0      0.0
city           0      0.0
event_id       0      0.0

In [ ]:
project_work.head(3)

   event_id           city          State  ...  brand_eng  model_eng age_range
0   1078723  Visakhapatnam  AndhraPradesh  ...     Xiaomi      MI 2A     29-32
1   1250159  Visakhapatnam  AndhraPradesh  ...     Xiaomi      MI 2A     29-32
2   1413455  Visakhapatnam  AndhraPradesh  ...     Xiaomi      MI 2A     29-32

[3 rows x 14 columns]